spring:
  application:
    name: user-service

  datasource:
    url: ${DATABASE_URL}
#    driver-class-name: org.postgresql.Driver
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI}
          jwk-set-uri: ${KEYCLOAK_JWK_SET_URI}
#
#      client:
#        registration:
#          keycloak:
#            client-id: ${KEYCLOAK_CLIENT_ID}
#            client-secret: ${KEYCLOAK_CLIENT_SECRET}
#            redirect-uri: ${KEYCLOAK_REDIRECT_URI}
#            authorization-grant-type: authorization_code
#            scope: openid,profile,email
#            provider: keycloak
#
#        provider:
#          keycloak:
#            issuer-uri: ${KEYCLOAK_ISSUER_URI}
#            user-name-attribute: preferred_username

server:
  port: ${PORT}
  error:
    include-message: always
    include-binding-errors: always
    include-exception: true
#    include-stacktrace: always

#security:
#  cors:
#    allowed-origins: ${CORS_ALLOWED_ORIGINS}
#  oauth2:
#    jwk-set-uri: ${KEYCLOAK_JWK_SET_URI}
#    login:
#      default-success-url: /v1/user/profile
##    logout:
##      success-url: ${KEYCLOAK_ISSUER_URI}/protocol/openid-connect/logout?redirect_uri=https://bartr-dev.vercel.app/

  permit-all-patterns: /v1/user/profile/stats/**

logging:
  level:
    org.springframework.security: DEBUG


keycloak:
  serverUrl: https://keycloak-production-c945.up.railway.app
  realm: Bartr
#  username: admin
#  password: admin@123
  client-id: ${KEYCLOAK_CLIENT_ID}
  client-secret: ${KEYCLOAK_CLIENT_SECRET}